.header{
    width: 100%;
    padding-top: 3vw;
    background: linear-gradient(to right, #560f2a, #60102f 5%, #60102f 70%, #540f29 90%);
}

.middle_zone{
    width: 80%;
    justify-self: center;
}

.image{
    padding: 5vw 0;
    
}